* {box-sizing: border-box;
  font-family: 'Marvel', sans-serif;
}

.orderbar-wrapper {
  background-color: #fa6938;
  font-size: 15px;
  color: white;
  list-style: none;
  margin-top: 0;
  margin-right: 170px;
  padding: 7px;
  margin-bottom: 0px;
}
.orderbar-wrapper li { display: inline; }
.freeshipping {
  background-color: #c7522b;
  margin-left: 80px;
  margin-right: 0px;
  padding: 4px;
  border-radius: 5px;
  font-size: 12px;
}
.shipping {
  margin-left: 20px;
  font-size: 14px;
}
.top-bar {
  background-color: grey;
  height: 95px;
  margin-top: 0px;
}
.menu {
  list-style: none;
  font-size: 20px;
}
.menu li {
  display: inline;
  float: left;
  margin-top: 0px;
}
.top-bar > .menu > li > img {
  width: 110px;
  margin-left: 47px;
  margin-right: 60px;
}
.menu-item {
  margin-left: -23px;
  font-size: 25px;
  padding: 24px;
}
.sample-box {
  background-color: #F9F8F6;
}
.products {
  background-color: #F9F8F6;
}
